@model IEnumerable<DiplomaDataModel.Choice>
@{
    ViewBag.Title = "Choices";
}
<head>
    <script>
        var baseUrl = "http://localhost:50976/api/Choices";
        function GetAllChoices() {
            jQuery.support.cors = true;
            $.ajax({
                url: baseUrl,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data, "#div_show_all");
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function WriteResponse(choices, target) {
            var strResult = "<table class='table ui-state-highlight'><tr><th>Id</th><th>ID</th><th>First Option</th><th>Last Name</th><th>Occupation</th></tr>";
            $.each(choices, function (index, choice) {
                strResult += "<tr>\n";
                strResult += "<td>" + ((choice.ChoiceId !== undefined) ? choice.ChoiceId : "") + "</td><td>" + choice.FirstOption + "</td>"
                            + "<td>" + choice.SecondOptionTitle + "</td><td>" + choice.ThirdOption.Title + "</td><td>" + choice.FourthOption.Title + "</td>"
                            + "<td>" + choice.StudentFirstName + "</td><td>" + choice.SecondOption + "</td>";
                strResult += "</tr>\n";
            });
            strResult += "</table>";
            $(target).html(strResult);
        }
    </script>
</head>
<h2>Index</h2>
    <button onclick="GetAllChoices(); return false;">Get All Choices</button>
    <br /><br />
@if ((TempData.ContainsKey("choiceExists")))
{
    <h3><span class="field-validation-error">@TempData["choiceExists"].ToString()</span></h3>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourthOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </th>
        <th></th>
    </tr>
    <div id="div_show_all"></div>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourthOption.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.YearTerm.YearTermId)*@
                @if (item.YearTerm.Term == 10)
                { <span>Winter </span>}
                else if (item.YearTerm.Term == 20)
                { <span>Spring/Summer </span>}
                else
                { <span>Fall </span>}
                @Html.DisplayFor(modelItem => item.YearTerm.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChoiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ChoiceId })
                </td>
            }
        </tr>
    }
</table>
